<h1>Your shopping cart</h1>

{{#each subproducts}}
  <h4>{{title}}</p>
  <p>{{price}}</p>
  <img src = '{{imageUri}}' style = 'width: 80px; height: 80px;'>
  <form action='/cart/delete/{{_id}}'>
    <button>Delete</button>
  </form>
{{/each}}

<form action='/cart/delete'>
  <button>Delete all</button>
</form>

<form action='/checkout'>
  <button>Check out</button>
</form>
