<h3>Thank you for shopping with us!</h3>
<p>Your order</p>
<p>Shipping address: {{address}}</p>
<p>Your order include {{items}} items</p>
<p>Total amount is {{total}}</p>
<p>Your order will arrive in approximately 2 days</p>
