<form method="POST" style="max-width: 300px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
<h3>Verification your phone</h3>
  <div class="form-group">
    <label>Verification code</label>
    <input type="phone" name="verification" class="form-control">
  </div>
  <div class="form-group">
    <button class="btn btn-success">Verify</button>
  </div>
</form>
